[package]
name = "zabbix-lld-ws"
version = "0.2.0"
authors = ["Eugene Lebedev <duke.tougu@gmail.com>"]
edition = "2018"

[profile.release]
opt-level = 'z'
lto = true
codegen-units = 1
panic = 'abort'

[dependencies]
reqwest = { version = "0.10", features = ["blocking", "json"] }
serde = { version = "1.0", features = ["derive"] }
serde_derive = "1.0"
serde_json = "1.0"
regex = "1"
yaml-rust = "0.4"

thiserror = "1.0"

log = "0.4"
log4rs = "0.10.0"
